extends layout

block content
  h1= title
  p This is the #{title} for Web Apps
  h2 Useful Links
  p https://guides.github.com/features/pages/
  p https://www.gimp.org/tutorials/
  p https://www.w3schools.com/html/default.asp

